* {
  box-sizing: border-box;
  /* border: solid #5B6DCD 1px; */
  /* margin-left: 0.5%;
  margin-right: 0.5%; */
}

body {
  margin: 0;
  background-image: linear-gradient(to bottom, #ba71d9 0%, #4b1c8c 100%);
}
